<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 CDN Demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/vue.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/vuex.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/router.js') }}" defer></script>
   
</head>

<body>
    <div id="app">
      <navbar
      name="Imprints"
      :links="[
        { name: 'Principal Page', path: '/principalreview', isRouterLink: true, showWhen: 'loggedIn' },
        { name: 'HOD Page', path: '/hodreview', isRouterLink: true, showWhen: 'loggedIn' },
        { name: 'Finance Management', path: '/finance', isRouterLink: true, showWhen: 'loggedIn' },

        { name: 'Login', path: '/admin_login', isRouterLink: true, showWhen: 'loggedOut' },
        { name: 'Logout', action: logout, showWhen: 'loggedIn' },
         { name: 'Register', path:'/register',isRouterLink: true, showWhen: 'loggedOut'}
      ]"
    ></navbar>

          <div class="container-lg">
            <router-view></router-view>
          </div>

    </div>

    <!-- Link to your Vue application logic -->
    <!-- Link to your Vue application logic -->
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>